aiohttp
appdirs==1.4.4
APScheduler==3.6.3
astroid==2.4.2
async-lru==1.0.2
async-timeout==3.0.1
attrs==21.2.0
google-api-core==1.26.0
google-api-python-client==1.12.8
google-auth==1.27.0
google-auth-httplib2==0.0.4
google-auth-oauthlib==0.4.2
googleapis-common-protos==1.53.0

sqlalchemy
psycopg2-binary

youtube_dl
PySocks==1.7.1
python-magic==0.4.22
python-telegram-bot==13.3
pytz==2021.1
requests==2.25.1


TgCrypto==1.2.2

urllib3==1.26.3

